* {
    font-family: futura;
    margin: 0;
}

.itemName, .price {
    text-align: center;
}

img {
    width: 13em;
    height: 15em;
}

form {
    display: flex;
    flex-direction: column;
}

.card {
    width: 20em;
    height: 26em;
    display: flex;
    justify-content: center;
    outline: 2px solid black;
    border-radius: 1em;
}